<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="SenderName" value="Mateusz Machulik"/>
		<add key ="TwilloPhoneNnumber" value="+17207825902"/>
		<add key ="ReciverPhoneNumber" value="+17207825902"/>
		<add key ="TwilloAccountSid" value="AC916189313fdeda01db830337caf8fcff"/>
		<add key ="TwilloAuthenticatorToken" value="+17207825902"/>
		<add key ="IntervalInMinutes" value="1"/>
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>